/*
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/**************************
* 1. Imports 
***************************/

/* Sansita font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

@import url('normalize.css');

/**************************
* 2. General Rules 
***************************/
body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
    font-size: 36px;
}

/* Navigation */
nav {
    background-color: #0e89d5;
}
nav ul{
    color: white;
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding-inline-start: 0px; 
}
nav li {
    display: inline-block;
    padding: 25px 0px 25px 0px;
}
nav a {
    text-decoration: none;
    color: white;
}

main section {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(211, 211, 211, 0.5);
    text-align: center;
    margin: 2px 0 2px 0;
    height: auto;
    width: 100%;
}

/* Page Header */
#page-header {
    display: flex;
    background-color: #0e89d5;
    align-items: center;
    height: 134px;
}
#page-header h1 {
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    padding: 10px 20px 10px 20px;
}

/* Location Info */
#locationInfo {
    background: #fff;
    border: none;
    height: 120px;
    text-align: left;
    font-size: 32px;
}
#locationInfo h1 { 
    font-size: 48px; 
    margin: 10px 0 0 0;
}
#locationInfo p { margin-top: 10px; }
#locationInfo span {
    font-weight: bold;
}
#page-footer {
    background-color: #0e89d5;
}
#currentWeather {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rain.jpg");
}

#tempCurrent { font-size: 5em; margin: 0; padding: 0; }
#tempHigh { color: red; }
#tempLow { color: blue; }

/* Wind Dial */
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('../images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
}
.n  {    transform: rotate(360deg);    }
.ne {    transform: rotate(45deg);     }
.e  {    transform: rotate(90deg);     }
.se {    transform: rotate(135deg);    }
.s  {    transform: rotate(180deg);    }
.sw {    transform: rotate(225deg);    }
.w  {    transform: rotate(270deg);    }
.nw {    transform: rotate(315deg);    }

/* Hourly Data */
#hourly {
    width: 100%;
    height: 150px;
}
#hourlyData {
    overflow: auto;
    list-style-type: none;
    white-space: nowrap;
}
dl {
    /* margin-top: -15px;
    margin-bottom: 0.3em; */
}
dt, dd {
    display: inline;
    padding: 0;
    margin: 0;
    /* font-size: 2.5vw; */
}
dt::before{
    content: " | ";
}
dt:first-child::before {
    content: "";
  }

/* Background pictures for Summary */
/* Should be small pictures first*/
.clear {
    background-image: url("/weather/images/clear.jpg");
}
.fog {
    background-image: url("/weather/images/fog.jpg");
}
.rain {
    background-image: url("/weather/images/rain.jpg");
}
.cloudy {
    background-image: url("/weather/images/clouds.jpg");
}
.snow {
    background-image: url("/weather/images/snow.jpg");
}

/**************************
*  3. Mobile Rules 
***************************/
@media only screen and (max-width: 490px) {

    #page-header img {
        height: 50px;
        width: 50px;
        padding: 2px;
    }
    #locationInfo p {
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
    }
    #largeScreenNav { display: none; }

    /* Background pictures for Summary - Large */
    /* .clear {
        background-image: url("/weather/images/clear.jpg");
    }
    .fog {
        background-image: url("/weather/images/fog.jpg");
    }
    .rain {
        background-image: url("/weather/images/rain.jpg");
    }
    .cloudy {
        background-image: url("/weather/images/clouds.jpg");
    }
    .snow {
        background-image: url("/weather/images/snow.jpg");
    } */
}

/**************************
* 4. Large Screen Rules 
***************************/
@media only screen and (min-width: 796px) {
    
    #mobileNav { display: none; }
    #currentWeather {
        display: flex;
        flex-direction: row;
        padding: 20px 0 20px 0;
    }
    #currentWeather section {
        width: 33%;
        padding: 50px 0 50px 0;
    }
    #summary img {
        width: 80%;
        height: auto;
    }
}
