/*
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/**************************
* 1. Imports 
***************************/
/* @import url('normalize.css'); */

/**************************
* 2. General Rules 
***************************/

html {
    background-image: url("../images/site/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    display: flex;
    justify-content: center;
    font-family: roboto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
    list-style-type: none;
}
li {
    text-decoration: none;
}
main {
    background-color: white;
    width: 95%;
    padding: 10px;
    z-index: 0;
}
.hidden {
    display: none;
}

/************* 
* Navigation
**************/
#page-nav {
    background-color: #de2226;
}
#nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#nav-list li{
    color: white;
    padding: 10px;
}
#nav-list li a{
    color: white;
}

/*********** 
* Home Page 
************/
/* Featured Item */
#featured-item {
    /* background-image: url("../images/site/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-wrap: wrap;
}
#featured-item img {
    z-index: 0;
}
#featured-desc {
    /* width: 50%; */
    /* max-width: 306px; */
    height: 100%;
    max-height: 908px;
    /* position: absolute; */
    /* right: 0; */
}
#featured-item ul {
    list-style-type: none;
    color: #d32226;
    z-index: 1;
    background-color: rgba(255, 255, 255, .5);
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    margin-left: -600px;
}
#featured-item li{
    line-height: 1.6;
}

/* Featured Recipes */
#featured-recipes {
    box-sizing: border-box;
    
}
#featured-recipes ul{
    width: 40%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-column-gap: 5px;
    /* grid-row-gap:  */
    grid-template-columns: auto auto;
}
#featured-recipes li{
    /* background-color: lightgray; */
    text-align: center;
}
#featured-recipes figure{
    background-color: lightgray;
}

footer {
    border-top: 4px black solid;
    text-align: center;
}

/**************************
*  3. Mobile Rules 
***************************/
@media only screen and (max-width: 823px) {}

/**************************
* 4. Large Screen Rules 
***************************/
@media only screen and (min-width: 823px) {

    h1 {
        font-size: 42px;
    }
    #page-nav li {
        font-size: 20px;
        padding: 20px 10px 20px 10px;
    }
}