html {
    background-image: url("../images/site/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    display: flex;
    justify-content: center;
    font-family: roboto;
}
main {
    background-color: white;
    width: 95%;
    padding: 10px;
}
.hidden {
    display: none;
}
#page-nav {
    background-color: #de2226;
}
#nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#nav-list li{
    color: white;
    font-size: 20px;
    padding: 20px 10px 20px 10px;
}
#nav-list li a{
    text-decoration: none;
    color: white;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}
footer {
    border-top: 4px black solid;
    text-align: center;
}